.App-nav {
  text-align: center;
}

.App-nav li {
  display: inline-block;
  list-style: none;
  margin: 10px;
  padding: 0;
}

.App-nav a {
  text-decoration: none;
  color: black;
}

.App-nav a.active {
  color: orangered;
  padding: 10px 0;
  display: inline-block;
  border-bottom: 1px solid orangered;
}
